@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
        width: 80%;
}

/*HEADER*/

.layout-header {
    background-color: #00438f;
    color: white;
    text-transform: uppercase;
    min-height: 100px;
}

.layout-header h2 {
    font-weight: 700;
    font-size: 45px;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    position: relative;
    bottom: -25px;
}

/*NAVBAR*/

nav.navbar {
    border-radius: 0;
    margin: 0;
    background-color: #00438f;
    text-transform: uppercase;
    font-weight: 700;
}

nav.navbar a {
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    color: #f1d500;
}

.nav {
    margin-left: -10px;
}


/*HOME PAGE*/

.header{
    background-image: url("/images/gummycup.jpg");
    background-position-y: center;
    background-position-x: right;
    background-size: 150%;
    height: 500px; 
}


.pane-2, .pane-1 {
    background-color: #fff;
    height: 350px;
    padding: 0;
}

.pane-1 div.container, .pane-2 div.container {
    height: 100%;
    padding: 0;
}

div.col-md-6 {
    position: relative;
    height: 100%;
}

.pane-1 div.col-md-6:first-of-type, .pane-2 div.col-md-6:last-of-type {
    padding: 20px;
}

.pane-1 div.col-md-6:first-of-type {
    padding-top: 50px;
}

.pane-2 img, .pane-1 img {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.pane-1 img {
    float: left;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.jumbotron {
    margin: 0;
}

.btn-default {
    background-color: #b5190b;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 52px;
    padding: 0 50px;
    border: 0px solid transparent;
    position: relative;
    bottom: 0;
}

.btn-default:hover {
    background-color: #f1d500;
}

.pane-1 h2, .pane-2 h2 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 19px;
}

.pane-2 h2 {
    margin-bottom: 10px;
}

.pane-1 p, .pane-2 p {
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}


