@{
    ViewData["Title"] = "Isabella Bird Blog - People";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="jumbotron header">

</div>

<div class="jumbotron pane-1">
    <div class="container">
        <div class="col-md-6">
            <p>text goes here</p>
        </div>
        <div class="col-md-6">
            <img src="~/images/gummies2.jpg" />
        </div>
    </div>
</div>
<div class="jumbotron pane-2">
    <div class="container">
        <div class="col-md-6">
            <img src="~/images/gummyworms.gif" />
        </div>
        <div class="col-md-6">
    <p>text goes here</p>
        </div>
    </div>
</div>